# gRPC Configuration
AUTH_HOST=auth.droprit.com
LOOKUP_HOST=lookup.droprit.com
SPLIX_HOST=splix.droprit.com
SERVICE_PORT=443
SERVICE_SECURE=true

# Auth Configuration
AUTH_CLIENT_ID=splix-mobile
AUTH_REDIRECT_URI=com.halooid.splix.mobile://oauth/callback
AUTH_DISCOVERY_URL=https://auth.droprit.com/realms/halooid/.well-known/openid-configuration
