# gRPC Configuration
GRPC_HOST=localhost
GRPC_PORT=50051
GRPC_SECURE=false

# Auth Configuration
AUTH_CLIENT_ID=splix-mobile
AUTH_REDIRECT_URI=com.halooid.splix.mobile://oauth/callback
AUTH_DISCOVERY_URL=https://auth.droprit.com/realms/halooid/.well-known/openid-configuration
